* {
  margin: 0;
}

body {
  background-color: #858484;
  font-family: "Roboto", sans-serif;
}


.container {
  width: 1140px;
  margin: 0 auto;
}

.radio {
  background: url(image/Mainbg.jpg) center center / cover;

}

.intensive {
  background-color: black;

}

.online {

  background-color: black;
  background-size: 1920px 564px;
  width: 1920px;
  height: 564px;

}

.manyImage {
  background-image: url(image/Bg.jpg) center / cover;
  background-size: 1920px 450px;
  width: 1920px;
  height: 450px;

}


.logoimage {

  display: block;
  margin: 0px auto;
  width: 72px;
  height: 89px;
  top: 22px;
  left: 924px;
}

.logotext {
  width: 168px;
  height: 19px;
  top: 124px;
  left: 876px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0px auto;


}



h1 {
  width: 696px;
  height: 41px;
  top: 195px;
  left: 613px;
  text-transform: uppercase;
  color: #F9BF3B;
  text-align: center;
  font-size: 41px;
  font-weight: 900;
  line-height: 41px;
  margin: 0px auto;
}




.awwww {
  width: 463px;
  height: 80px;
  top: 248px;
  left: 730px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  margin: 0px auto;
}


.class {
  width: 687px;
  height: 41px;
  top: 340px;
  left: 617px;
  text-transform: uppercase;
  color: #F9BF3B;
  text-align: center;
  font-size: 41px;
  font-weight: 900;
  margin: 0px auto;
}

.p {
  width: 1140px;
  height: 77px;
  top: 401px;
  left: 389px;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  margin: 0px auto;
  vertical-align: middle;

}

.pspan {
  width: 1140px;
  height: 77px;
  top: 401px;
  left: 389px;
  color: #F9BF3B;
  text-align: center;
  font-weight: 900;
}

.buttonRadio {

  background: linear-gradient(#FEB05D, #FF4D00);
  width: 1140px;
  height: 77px;
  top: 401px;
  left: 389px;
  color: #F9BF3B;
}

.vodka {
  width: 115px;
  height: 18px;
  top: 700px;
  left: 904px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin: 0px auto;
}



.intensivetitle {
  width: 541px;
  height: 35px;
  top: 80px;
  left: 691px;
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px auto;

}

.intensivetext {
  width: 446px;
  height: 27px;
  top: 151px;
  left: 738px;
  color: #4A4A4A;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  margin: 0px auto;

}


.intensiveitemstextA {
  width: 360px;
  height: 42px;
  top: 436px;
  left: 391px;
  color: #4A4A4A;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.intensiveitemstextB {
  width: 360px;
  height: 63px;
  top: 436px;
  left: 781px;
  color: #4A4A4A;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.intensiveitemstextC {
  width: 360px;
  height: 76px;
  top: 436px;
  left: 1171px;
  color: #4A4A4A;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.titleOnline {
  width: 673px;
  height: 35px;
  top: 100px;
  left: 857px;
  text-transform: uppercase;
  color: #F9BF3B;

  font-size: 30px;
  font-weight: 900;
}


.onlineradioA {
  width: 750px;
  height: 272px;
  top: 151px;
  left: 780px;
  color: #ffffff;

  font-size: 16px;
  font-weight: 300;
}

.onlineradioB {
  width: 750px;
  height: 272px;
  top: 151px;
  left: 780px;
  color: #ffffff;

  font-size: 16px;
  font-weight: 300;
}

.onlineradioC {
  width: 750px;
  height: 272px;
  top: 151px;
  left: 780px;
  color: #ffffff;

  font-size: 16px;
  font-weight: 300;
}

.gggg {

  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
}


h3.t {
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
}


div.a {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.b {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.c {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.d {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.e {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


p.f {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}


div.g {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}


h3.h {
  text-align: center;
  margin: 10px auto;
  color: #F9BF3B;
  font-size: 36px;
  font-weight: 900;
}


div.j {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 23px;
  font-weight: 500;
}



.intensive {

  padding-top: 100px;
  padding-bottom: 100px;

  background: #dfdfdf;
}


.divider {
  background: #F9BF3B;

  width: 220px;
  height: 7px;

  margin: 0 auto;


}

.intensive-items {
  display: flex;
}

.manyLogo {
  display: flex;
}