* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #858484;
  font-family: "Open Sans", sans-serif;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
}

.radio {
  background: url(image/Mainbg.jpg) center center / cover;
  padding: 22px 0px 53px 0px;
}

.online {
  background-color: black;
}

.manyImage {
  background-image: url(image/Bg.jpg) center / cover;
  background-size: 1920px 450px;

}

.logo {
  margin: 0px auto;
  max-width: 240px;
  text-align: center;
  margin-bottom: 52px;
}


.logo__image {
  margin-bottom: 13px;
  width: 72px;
}

.logo__text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}



.radio__title {
  text-transform: uppercase;
  color: #F9BF3B;
  text-align: center;
  font-size: 41px;
  font-weight: 900;
}


.radio__title_big {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
}


.class {

  top: 340px;
  left: 617px;
  text-transform: uppercase;
  color: #F9BF3B;
  text-align: center;
  font-size: 41px;
  font-weight: 900;
  margin: 0px auto;
}

.radio__text {
  margin-bottom: 75px;
  height: 77px;
  top: 401px;
  left: 389px;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  vertical-align: middle;

}

.pspan {
  height: 77px;
  top: 401px;
  left: 389px;
  color: #F9BF3B;
  text-align: center;
  font-weight: 900;
}

.radio__button {
  display: block;
  background: linear-gradient(#FEB05D, #FF4D00);
  width: 315px;
  height: 77px;
  top: 401px;
  left: 389px;
  color: #ffffff;
  font-size: 21px;
  margin: 0px auto;
  text-transform: uppercase;
}

.radio__title-icone {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 98.5px;
  margin-bottom: 10px;

}

.radio__icone {
  display: block;
  margin: 0px auto;
}



.intensive {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #dfdfdf;
}

.intensive__title {
  margin-top: 42px;
  top: 80px;
  left: 691px;
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px auto;

}

.intensive__text {
  color: #4A4A4A;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 42px;

}

.intensive-items {
  display: flex;
  justify-content: space-between;
}

.intensive-item {
  max-width: 360px;
}

.intensive-item__text {
  color: #4A4A4A;
  text-align: center;
}



.intensive-item__img {
  width: 100%;
  margin-bottom: 15px;
}



.intensive-item__img img {
  width: 100%;

}

.online {
  padding-top: 100px;
  padding-bottom: 100px;
}

.titleOnline {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #F9BF3B;
  text-align: right;
  font-size: 30px;
  font-weight: 900;
}

.onlineradio__item {
  margin-bottom: 16px;

  max-width: 750px;
}

.onlineradio {
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

}



.gggg {
  text-align: right;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 0px;
}


h3.t {
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
}


div.a {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.b {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.c {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.d {
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.e {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


p.f {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}


div.g {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}


h3.h {
  text-align: center;
  margin: 10px auto;
  color: #F9BF3B;
  font-size: 36px;
  font-weight: 900;
}


div.j {
  text-align: center;
  margin: 10px auto;
  color: #000000;
  font-size: 23px;
  font-weight: 500;
}





.divider {
  background: #F9BF3B;

  max-width: 220px;
  height: 7px;

  margin: 14px auto;


}



.manyLogo {
  display: flex;
}