*{
    margin: 0;
}

body{
  background-color: #858484;
}

.logo__image {
  display: block;
  margin: 0px auto;
}

.logo__text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;

  text-transform: uppercase;
  color: #fff;
}



h1{
  color: #F9BF3B;
  font-size: 41px;
  font-weight: 900;
  line-height: 41px;
}


.a {
  color: #000000;
  font-size: 80px;
  font-weight: 900;
}


.class {
  color: #F9BF3B;
  font-size: 41px;
  font-weight: 900;
}

.p {
  color: #000000;
  font-size: 21px;
  font-weight: 500;
}
span{
  color: #F9BF3B;
	font-weight: 900;
}

.vodka {
  color: #252525;
  font-size: 15px;
  font-weight: 500;
}


.idk {
  color: #252525;
  font-size: 30px;
  font-weight: 500;
}


.cocacola {
  color: #4A4A4A;
  font-size: 23px;
  font-weight: 500;
}

.fanta {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
}

.sprite {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
}

div.pepsi {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
}

h2.realyclass {
  color: #F9BF3B;
  font-size: 30px;
  font-weight: 900;
}


p.nop {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

span.b {
  color: #000000;
  font-size: 16px;
  font-weight: 900;
}


h3.t {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
}


div.a{
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.b{
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.c{
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.d{
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


div.e{
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}


p.f {
   color: #000000;
    font-size: 30px;
    font-weight: 500;
}


div.g{
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}


h3.h{
  color: #F9BF3B;
  font-size: 36px;
  font-weight: 900;
}


div.j{
  color: #000000;
  font-size: 23px;
  font-weight: 500;
}
